/* Variables */
:root {
  --orange-color: #FB9818;
  --button-color: #A7BD43;
  --secondary-color: #6c757d;
  --text-color: #003366;
  --background-color: #f8f9fa;
  --footer-head-color: #022D541C;
  --border-color: #e1e1e1;
  --footer-foot-color: #022D54;
}


/* Footer */
footer {
  background-color: var(--footer-head-color);
  color: var(--footer-foot-color);
  padding: 30px;
}

/* Container */
footer .container { 
  min-width: 100%;
  margin: 0 ;
}


.footer-foot {
  text-align: center;
  min-width: 100%;
  height: 50px;
  background-color: var(--footer-foot-color);
}

.spam-foot {
  padding-bottom: 40px;
}

.border-container {
  display: inline-block;
  border-bottom: 4px solid var(--footer-foot-color);
  padding-bottom: 0.3rem;
  font-weight: bold;
}

.scnd-title-footer {
  font-weight: 600;
}

/* Layout */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-one-two {
  display: flex;
}

.col-md-6 {
  flex: 1;
  min-width: 280px;
}

/* Lists and Links */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul1-footer li, .ul2-footer li {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--footer-foot-color);
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--orange-color);
}

.ul1-footer ul {
  padding-left: 20px;
}

.sous-titre {
  font-weight: 600;
}

/* Social Icons */
.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 30px;
  gap: 15px;
}

.social-icons li {
  margin: 0;
}

.social-icons a {
  color: var(--footer-foot-color);
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  font-size: 2rem;
  color: var(--button-color);
}

/* Form */
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-form input[type="email"] {
  padding: 10px;
  border: 1px solid var(--footer-foot-color);
  border-radius: 4px;
}

.footer-form button[type="submit"] {
  padding: 10px;
  background-color: var(--button-color);
  border: none;
  color: var(--footer-foot-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .logo{
    max-width: 35%;
}
  .row {
      flex-direction: column;
  }

  .col-one-two {
      flex-direction: column;
  }

  .col-md-6 {
      min-width: 100%;
  }

  .social-icons {
      justify-content: center;
  }
}

@media (min-width: 768px) {
  .row {
      flex-direction: row;
  }

  .col-one-two {
      flex-direction: row;
  }

  .col-two {
      margin-top: 90px;
  }

  .col-md-6 {
      max-width: 100%;
      padding-top: 0;
  }
}
@media (max-width: 480px) {
  .logo{
    max-width: 30%;
}
  .row {
      flex-direction: column;
  }

  .col-one-two {
      flex-direction: column;
  }


  .col-md-6 {
      max-width: 90%;
      padding-top: 0;
  }
}
